.profile-content-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-header-container {
    background-color: #FFFFFF;
    width: 90%;
    margin: calc(56px + 5vh) auto 0 auto;
    padding: 15px 25px;
    box-shadow: 0px 0px 12px rgba(199, 199, 199, 0.25);
    border-radius: 20px;
    gap: 10px;

    display: flex;
    flex-direction: column;

    font-family: 'Lato';
    color: black;
}

.profile-first-row {
    display: flex;
    flex-direction: row;
}

.profile-name {
    margin: auto 0 auto 0;
    font-size: 28px;
    font-weight: 300;
}

.profile-date-registered {
    color: #686868;
    margin: auto 0 auto auto;
    font-size: 16px;
    font-weight: 300;
}

.profile-second-row {
    display: flex;
    flex-direction: row;
}

.profile-logout {
    background-color: #00c0eb;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 12px #c7c7c781;
    margin: auto 0 auto auto;

    color: white;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    padding: 2px 12px;
    transition: .2s;
}

.profile-logout:hover {
    transition: .2s;
    cursor: pointer;
    background: #02b5dd;
}



.profile-email-registered {
    margin: auto 0 auto 0;
    font-size: 16px;
    font-weight: 300;
    /* color: black; */
    color: #686868;
}

.profile-info {
    background-color: #FFFFFF;
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: row;

    margin: 0 auto;
    padding: 15px 25px;

    box-shadow: 0px 0px 12px rgba(199, 199, 199, 0.25);
    border-radius: 20px;
    transition: .4s;

    font-family: 'Lato';
    color: #686868;
    font-weight: 300;
}

.profile-info:hover {
    transform: scale(1.008);
    transition: .2s;
}


.profile-info-change {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin: 0 auto;
}

.profile-info-change h2:hover {
    transform: scale(1.008);
    transition: .2s;
    cursor: pointer;
    color: #4e4e4e;
}

.profile-info-change h2 {
    background-color: #FFFFFF;
    padding: 15px 25px;
    font-size: 14px;
    box-shadow: 0px 0px 12px rgba(199, 199, 199, 0.25);
    border-radius: 20px;
    transition: .4s;
    font-family: 'Lato';
    color: #686868;
    font-weight: 300;
}

.profile-change-email {
    margin-left: auto;
}

.profile-change-password {
    margin-left: auto;
    margin-right: auto;
}

.email-box {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0px auto;
    gap: 10px
}

.enter-email-box {
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 250px;
    box-shadow: 0px 0px 12px #c7c7c740;
    border-radius: 10px;

    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    padding-left: 20px;
}

.submit-email-box {
    background-color: #00c0eb;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 12px #c7c7c781;

    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    padding: 0px 10px;
    transition: .2s;
}

.submit-email-box:hover {
    cursor: pointer;
    background: #02b5dd;
    transition: .2s;
}