.num-listings {
    text-align: left;
}

.switch-view-button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2rem 3rem;
    z-index: 1;

    border-radius: 5px;
    width: 5%;
    min-width: 150px;
    padding: 10px 5px;

    font-family: "Lato";
    font-size: 16px;
    border: none;
    background-color: #fa8500;
    color: white;
    font-weight: bold;
}

.switch-view-button:hover {
    background-color: #fa8500e0;
    cursor: pointer;
}