.navbar-container {
    text-align: left;
    width: 100%;
    padding: 15px;

    display: flex;
    flex-direction: row;
    box-shadow: 0 5px 10px 1px #cfcfcf4d;
    background-color: white;

    position: fixed;
    z-index: 1;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    margin: 0px 20px 0px auto;
}

.navbar-links a {
    color: #686868;
    text-decoration: none;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-profile-icon {
    font-size: 25px;
}

.logo-text {
    color: #686868;
    font-size: 22px;
    font-family: "Lato";
    font-weight: bold;
}

