.filter-container-top {
    display: flex;
    flex-direction: row;
    
    width: 90%;
    margin: 20px auto;
}

.search-sort-by-container {
    display: flex;
    flex-direction: row;
}

.sort-by-dropdown {
    width: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 12px #c7c7c740;

    color: #686868;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    padding: 5px 0px;
    margin-left: 35px;
}

.search-box {
    --webkit-appearance: none;
    border: none;
    outline: none;
    width: 250px;
    box-shadow: 0px 0px 12px rgba(199, 199, 199, 0.25);
    border-radius: 10px;

    color: #686868;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    padding-left: 20px;
}

.bed-bath-filter{
    display: flex;
    flex-direction: row;
    margin: 0px 25px 0px auto;
}

.bed-bath-search-box {
    /* -webkit-appearance: none; */
    border: none;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 12px rgba(199, 199, 199, 0.25);
    border-radius: 10px;
    margin-right: 10px;

    color: #686868;
    background-color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.rent-filter {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    box-shadow: 0px 0px 12px rgba(199, 199, 199, 0.25);
    border-radius: 10px;
    background-color: white;

    color: #686868;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
}

.dash {
    padding-right: 20px
}

.rent-search-box {
    --webkit-appearance: none;
    border: none;
    outline: none;
    width: 85px;
    padding-left: 5px;

    color: #686868;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
}
