.apartment-box {
    display: flex;
    gap: 25px;
    width: 100%;
    height: 50%;
    max-height: 375px;
    margin: 0px auto 40px auto;
    padding: 25px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(199, 199, 199, 0.25);
    border-radius: 20px;

    transition: .4s;
}

.apartment-box:hover {
    transform: scale(1.008);
    transition: .2s;
}

.apartment-box-description {
    display: flex;
    flex-direction: column;
    flex: 1; /* make container fill the remaining space */
    width: 65%;
}

.apartment-box-image {
    width: 30%;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0px 0px 12px rgba(199, 199, 199, .5);
}

.apartment-box-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.apartment-box-top-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apartment-name {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 35px; /* needed to align text with the top of the image next to it */
}

.apartment-description {
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: #686868;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

}

.apartment-details {
    display: flex;
    gap: 35px;
}

.apartment-url a {
    text-decoration: none;
    color: #686868;
}

.apartment-url a:hover {
    text-decoration: underline;
}

.apartment-box-top-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.apartment-box-interested {
    height: 40px;
    width: 140px;

    background: #00C1EC;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 12px #c7c7c781;

    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.apartment-box-interested:hover {
    background: #00c1ecab;
    cursor: pointer;
}

.like-button-icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.not-clicked path:hover {
    fill:rgba(199, 199, 199, 0.486)
}

.not-clicked path {
    stroke-width: 1.5px;
    stroke: #FF6961;
    fill: none;
}
.clicked path {
    stroke-width: 1.5px;
    stroke: #FF6961;
    fill: #FF6961;
}

.apartment-box-bottom {
    display: flex;
    text-align: left;
    margin-top: auto;
}

.apartment-box-bottom-right {
    margin-left: auto;
}

.apartment-rent {
    font-style: normal; 
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.apartment-utilities {
    color: #686868;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px; 
}

/* .apartment-box-bottom-right {
    margin-left: auto;
    padding-top: 35px;
    color: #686868;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px; 

} */


.apartment-description {
    tab-size: 8;
}
