.apartment-categories {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90%;
    margin: 30px auto;
}

.apartment-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.apartment-category-header {
    color: grey;
    font-size: 25px;
    text-align: left;
    font-weight: 400;
}

.liked-items-error-message {
    color: #686868;
    font-weight: normal;

    margin-top: 10vh;
    font-size: 18px;
}

.saved-apartment-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
