.homepage-container {
    height: 100vh;
    width: 100vw;

    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../assets/test1.jpg") ;

    background-size: cover;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    transform: translate(0, 100%);
}

.homepage-logo {
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 72px;
    text-shadow: 2px 4px 3px #7575754d;
    text-shadow: 1px 2px 1.5px #7575754d;
    /* text-shadow: -1px 0 #023047, 0 1px #023047, 1px 0 #023047, 0 -1px #023047; */

}

.homepage-text {
    color: white;
    font-weight: bold;
    
    text-shadow: -1px 0 #023047, 0 1px #023047, 1px 0 #023047, 0 -1px #023047;
    text-shadow: 1px 2px 1.5px #7575754d;
}

.homepage-dropdown {
    display: flex;
    
    width: 50%;
    margin-top: 50px;
}

.dropdown-bar {
    width: 90%;
    /* box-shadow: 0px 0px 12px #c7c7c781; */
    padding-right: 10px;
}

.dropdown-submit {
    margin-left: auto;
    width: 10%;
    min-width: 60px;

    background: #00c1ec;
    border-radius: 5px;
    border: none;
    /* box-shadow: 0px 0px 12px #c7c7c781; */

    color: white;
    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.dropdown-submit:hover {
    background: #00c1ecab;
    cursor: pointer;

}

