.homepage-container {
    height: 100vh;
    margin: auto;
    position: relative;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 110px 0px;
    background-color: #195eac;
    box-shadow: 0px 0px 12px rgba(43, 43, 43, 0.562);
  
}

.homepage-logo {
    font-size: 64px;
    font-family: "Lato";
    font-weight: bold;
    color: white;
}

.homepage-dropdown {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-right: auto;
    margin-left: auto;

}

.dropdown-bar {
    width: 91%;
}
.dropdown-submit {
    margin-left: auto;
    width: 8%;
}

.homepage-text {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.5);
}