/* .apartment-box-list-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0px;
} */

.num-listings {
    width: 89%;
    margin: 10px auto 5px auto;
    color: #686868;
}