.section-header {
    text-align: left;
    
    color: '#000000';
    font-size: 30px;
    font-family: "Lato";

    width: 90%;
    margin: 0px auto;

    padding: 8% 0% 0% 0%;

    font-weight: 100;
}

