.popup-box-container {
  position: fixed;
  background: #00000070;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  font-family: 'Lato';
}

.popup-box {
  position: relative;
  width: 30%;
  margin: 10% auto 0 auto;
  /* height: 65vh; */
  min-width: 300px;
  max-width: 500px;

  background: #f9fafe;
  box-shadow: 0px 0px 12px #c7c7c740;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.popup-box-top {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  border-bottom: 2px solid #a5a3a373;
}

.popup-close-icon {
  margin: auto;
  margin-right: 0px;
}

.popup-close-icon:hover {
  cursor: pointer;
}

.contact-form input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #a5a3a373;
  font-size: 18px;
}

.contact-submit-button {
  border: none !important;
  background-color: #fb8500;
  color: white;
  font-weight: bold;
}

.contact-submit-button:hover {
  background: #ed8002;
  cursor: pointer;
}

.contact-name-email-form {
  border-bottom: 2px solid #a5a3a373;
}

.contact-name-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.contact-first-name {
  width: 42%;
}

.contact-last-name {
  width: 42%;
  margin-left: auto;
}

.contact-name-email-form,
.contact-user-password-form {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-reason-text {
  text-align: left;
  font-size: 20px;
  font-weight: 100;
  padding: 20px 0px 10px 0px;
}

.contact-check-boxes {
  text-align: left;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.check-box-text {
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 100;
}

.contact-check-boxes div {
  width: 200px;
  margin: 0 auto;
  font-family: 'Lato';
}

.contact-message {
  resize: none;
  margin: 20px 0px 0px 0px;
  padding: 10px;
  width: 85%;
  min-height: 75px;
  border: 1px solid #a5a3a373;
  border-radius: 15px;
  font-size: 16px;
}
